name: Upload Module to HumHub Marketplace

on:
  workflow_call:
    inputs:
      install-composer:
        description: Install composer dependencies for the current module.
        default: false
        required: false
        type: boolean
      install-npm:
        description: Install composer dependencies for the current module.
        default: false
        required: false
        type: boolean
      module-id:
        description: Marketplace ID of the Module
        default: ${{ github.event.repository.name }}
        required: false
        type: string
    secrets:
      MARKETPLACE_API_KEY:
        description: Marketplace API key
        required: false

jobs:
  build:
    name: Build and Upload Module Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with: 
          path: ${{ inputs.module-id }}

      - name: Install Composer
        if: ${{ inputs.install-composer }}
        run: cd ${{ inputs.module-id }}; composer install --prefer-dist --no-interaction --no-progress --optimize-autoloader --ansi

      - name: Install NPM
        if: ${{ inputs.install-npm }}
        run: cd ${{ inputs.module-id }}; npm install

      - name: Build project
        run: |
          zip -r ${{ inputs.module-id }}.zip ${{ inputs.module-id }}/

      - name: Upload Package to HumHub Marketplace
        run: |
          curl --fail \
          -F "key=${{secrets.MARKETPLACE_API_KEY}}" \
          -F "ModuleVersionUpload[zipFile]=@${{ inputs.module-id }}.zip" \
          https://api.humhub.com/v1/marketplace/upload?moduleId=${{ inputs.module-id }}
